.main-buttons {
    width: 540px;
    position: fixed;
    bottom: 5px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
}