/*
.file-style {
    list-style-image: url("https://icon-icons.com/icons2/93/PNG/32/page_document_16748.png");

}

.file-text-visible {
    width: 1000px;
    height: 600px;
    position: fixed;
    border: 1px dotted blue;
    box-shadow: 1px 1px 10px blue;
    right: 20px;
    top: 60px;
}

.file-text-hidden {
    width: 1000px;
    height: 600px;
    position: fixed;
    border: 1px dotted blue;
    box-shadow: 1px 1px 10px blue;
    right: 20px;
    top: 60px;
    display: none;
}

.node-text {

}*/
