<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
    <script src="js/init.js" type="text/javascript" rel="script"></script>
    <script src="js/getFiles.js" type="text/javascript" rel="script"></script>
    <script src="js/getTextFile.js" type="text/javascript" rel="script"></script>
    <script src="js/treeVisualization.js" type="text/javascript" rel="script"></script>
    <script src="js/modalWindowVisualization.js" type="text/javascript" rel="script"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/base/closeButton.css" type="text/css" rel="stylesheet">
    <link href="css/base/headText.css" type="text/css" rel="stylesheet">
    <link href="css/base/modalWindow.css" type="text/css" rel="stylesheet">
    <link href="css/base/treeNode.css" type="text/css" rel="stylesheet">
    <link href="css/proj/list.css" type="text/css" rel="stylesheet">

</head>
<body>


<h1>File Manager</h1>

<div id="content" class="treeview ">


</div>


<div class="modal-window" id="modal">
    <div class="modal-content">
    </div>
    <span class="close">&times;</span>
</div>


</body>
</html>